@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
body {
  background: #18181b;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(39, 39, 39, 0.7);
  border-radius: 12px;
  border: 2px solid rgba(0,0,0,0.2);
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.85);
}

::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.15) !important;
  border-radius: 12px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #272727 rgba(30,30,30,0.15);
}